img{
border: none;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 48px;
  text-align: center;
}


body {
  background-color: #aed8db;
}


p{
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px; 
}


#container {
  width: 95%;
  margin: 0 auto;
}

#contact {
  padding: 0;
}

#contact li{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
}

#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
}

#nav a:link {
  display: block;
  color: #141919;
  background-color: #79bec3;
  font-weight: lighter;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: underline;
  padding: 4px;
  text-align: center;
}

#nav a:hover, #nav a:active {
  background-color: #abacd3;
  text-decoration: underline;
}
