img{
border: none;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 48px;
  text-align: center;
}


body {
  background-color: #aed8db;
}


h2{
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

p{
  font-family: Georgia, "Times New Roman", serif;
  font-weight: lighter;
  text-align: left;
  font-size: 16px;
  }

#container {
  width: 95%;
  margin: 0 auto;
}

#contact {
  padding: 0;
}

#contact li{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
}

#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
  float: left;
}

#nav a:link {
  display:block;
  text-align: center;
  font-weight: lighter;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 24px;
  padding: 10px;
	margin: auto;

}

#nav a:hover, #nav a:active {
  background-color: #79bec3;
  text-decoration: underline;
}


.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

@media (min-width: 599px) {
	.nav {
		flex-direction: column;
		justify-content: center;
	}
}

@media (min-width: 800px) {

	.nav {
		flex-direction: row;
	}
}

@media screen and (min-width:800px) {
	img {
	float:left;
  padding-right: 8px;
}
}
