h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 48px;
  text-align: center;
}


body {
  background-color: #aed8db;
}


h2{
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

p{
  font-family: Georgia, "Times New Roman", serif;
  font-weight: lighter;
  text-align: left;
  font-size: 16px;
  }

#container {
  width: 95%;
  margin: 0 auto;
}

#contact {
  padding: 0;
}


#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
  float: left;
}

#nav a:link {
  display:block;
  text-align: center;
  font-weight: lighter;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 24px;
  padding: 10px;
	margin: auto;

}

#nav a:hover, #nav a:active {
  background-color: #79bec3;
  text-decoration: underline;
}


.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


@media (min-width: 500px) {
	.nav {
		flex-direction: column;
		justify-content: center;
	}
}


@media screen and (min-width: 300px) {
  img {
    float:left;
    padding-right: 8px;
    width: 40%;
    margin-top: 0.5em;
  }
}


@media (min-width: 800px) {

	.nav {
		flex-direction: row;
	}
}

@media screen and (min-width:800px) {
	img {
	   float:left;
     padding-right: 8px;
     display: block;
     width: 100%;
     margin-top: 0.5em;
     max-width: 370px;
   }
}


@media screen and (min-width: 600px) {
  #container {
    width: 90%;
  }
}


@media screen and (min-width: 800px) {

  article {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "a b c"
      "d e f";
  }

  .img {
    grid-area: a;
    width: 100%;
  }

  .section1 {
    grid-area: b;
    }

  .section2{
    grid-area: c;
  }

  .pullquote{
    grid-area: d;
  }

  .section3{
    grid-area: e;
  }

  .section4{
    grid-area: f;
  }

}
